$colorlight1: #F8F8F8;
$colorlight2: #F4F4F5;
$colorlight3: #EAEAEB;
$colorlight4: #D4D4D6;

$colordark1: #263240;
$colordark2: #1E2833;
$colordark3: #131920;
$colordark4: #0D1116;

$primarycolor: #6247aa