@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";

// :root.dark-theme {
//   --primary-color: #6247aa;
//   --background-color: #0D1116;
//   --text-color: #D4D4D6;
//   --border-color: #F4F4F5;
// }

// :root.light-theme {
//   --primary-color: #6247aa;
//   --background-color: #F8F8F8;
//   --text-color: #0D1116;
//   --border-color: #1E2833;
// }

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @import "./variables";

:root.dark-theme {
  --primary-color: #7b7d7f;
  --secondary-color: #0A0A0A;
  --dark-secondary-color: #101213;
  --light-color: #FFFFFF;
  --text-color: #ffffff
}

:root.light-theme {
  --primary-color: #f8f9fa;
  --secondary-color: #e9ecef;
  --dark-secondary-color: #212529;
  --light-color: #FFFFFF;
  --text-color: #000000
}

// --primary-color: #7b7d7f;
// --secondary-color: #DFDFDF;
// --dark-primary-color: #101213;
// --light-color: #FFFFFF

// --primary-color: #7b7d7f;
// --secondary-color: #DFDFDF;
// --dark-primary-color: #101213;
// --light-color: #FFFFFF